<!doctype html>
<!-- dev -->
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('lib/app.js');
</script>

<html>

<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- templates -->
    <script id="nameTemplate" type="text/template">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" required="required" name="firstname" id="fname" autofocus value="<%= firstName %>" placeholder="First Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastname" required="required" id="lname" autofocus value="<%= lastName %>" placeholder="Last Name" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary" id="nextpage">Next</button>
        </div>
    </script>

    <script id="addressTemplate" type="text/template">
        <div class="form-group">
            <label>Address One</label>
            <input type="text" required="required" name="address1" id="addOne" autofocus value="<%= addressOne %>" placeholder="Address line one" class="form-control" />
        </div>
        <div class="form-group">
            <label>Address Two</label>
            <input type="text" name="address2" id="addTwo" autofocus value="<%= addressTwo %>" placeholder="Address line two (optional)" class="form-control" />
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" name="city" id="city" autofocus value="<%= city %>" placeholder="City" class="form-control" />
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" name="state" id="state" autofocus value="<%= state %>" placeholder="State" class="form-control" />
        </div>
        <div class="form-group">
            <label>ZipCode</label>
            <input type="number" name="zipcode" id="zipcode" autofocus value="<%= zipCode %>" / placeholder="Zipcode" class="form-control">
        </div>
        <div>
            <button type="button" class="btn btn-primary" id="complete">Finish</button>
        </div>
        </div>
    </script>

    <script id="thankYouTemplate" type="text/template">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
            <div class="col-lg-10 col-md-10 col-sm-10 co-xs-12">
                <h4>Thank You!</h4>
                <p>You have submitted the following information:</p>
                <p>First Name:
                    <%=firstName %>
                </p>
                <p>Last Name:
                    <%=lastName %>
                </p>
                <p>Address:
                    <%=addressOne %>, <%=addressTwo %>
                </p>
                <p>City:
                    <%=city %>
                </p>
                <p>State:
                    <%=state %>
                </p>
                <p>ZipCode:
                    <%=zipCode %>
                </p>
                <button type="button" class="btn btn-primary" id="restart">Try Again?</button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
        </div>
    </script>

</head>

<body>

    <div class="container" id="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">&nbsp;</div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 header">
                <h3>Application</h3>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">&nbsp;</div>
        </div>
        <div class="row">
            <form role="form">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">&nbsp;</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 main-content">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">&nbsp;</div>
            </form>
        </div>
    </div>
    <!-- bundle <script src="app.js" type="text/javascript"></script>-->
</body>

</html>